body{
background-color: black;
color: white;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 90%;
max-width: 800px;
height: 20%;
padding: 20px;
margin: 20px auto;
}
img{
display: block;
margin-left: auto;
margin-right: auto;
max-width:70%;
height:auto;
}
h1{
display: block;
text-align: center;
font-size: 2em;
max width: 70%;
}
h2{
display: block;
text-align: center;
font-size: 0.8em;
max width: 70%;
}
.avatar{
float: left;
Width: 70%;
}
.nav{
float: right;
width: 20%;
}
