body{
background-color: black;
color: white;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 80%;
height: 20%
font-family: 'Helvetica', sans-serif;
padding: 20px;
margin: 20px auto;
max-width: 800px;
Border: 1px solid white;
}
.break{
border-bottom: 1px solid grey;
padding bottom: 1px;
font-size:0.2em;
}
.date{
border-bottom: 1px solid grey;
padding-bottom: 1px;
font-weight: bold;
}
.back{
border-top: 1px solid white;
padding-top: 1px;
font-weight: bold;
text-align: center;
}
.redindent{
border-left: 1px solid red;
padding-left: 20px;
}
.blueindent{
border-left: 1px solid blue;
padding-left: 20px;
}
p{
font-size: 1em;
}
a:link {color: #33ccff;
}
a:visited {color: #ff3399;
}
