body{
background-color: black;
color: white;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 80%;
height: 20%
font-family: 'Helvetica', sans-serif;
padding: 20px;
margin: 20px auto;
max-width: 800px;
}
.redindent{
border-left: 3px solid red;
padding-left: 3px;
}
.blueindent{
border-left: 3px solid blue;
padding-left: 3px;
}
